
@font-face {
    font-family: 'Arial Rounded MT';
    src: url('/fonts/ArialRoundedMTBold.eot');
    src: url('/fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArialRoundedMTBold.woff2') format('woff2'),
        url('/fonts/ArialRoundedMTBold.woff') format('woff'),
        url('/fonts/ArialRoundedMTBold.ttf') format('truetype'),
        url('/fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


a {
    color: #ffd736; 
    text-decoration: underline; 
}

a:hover {
    color: #ffd736;
    text-decoration: none;
}

a:visited {
    color: #ffd736;
    text-decoration: underline; 
}



body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    font-family: 'Arial Rounded MT';
    font-weight: bold;
    font-style: normal;

}

p {
    color: #ffd736;
    font-family: 'Arial Rounded MT';
}

h2 {
    color: #ffd736;
    font-family: 'Arial Rounded MT';   
}
 

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

.logo {
    margin-top: 15px;
}

.main img {
    width: 600px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.main-wrapper p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 4vh;
}

#countdown {
    color: #ffd736;
    font-family: 'Arial Rounded MT';
    font-size: 4em;
}

/* Media queries for responsiveness */
@media (max-width: 1300px) {
    .main img {
        width: 500px;
    }

    .main-wrapper {
        width: 550px;
    }

    .main-wrapper p {
        font-size: 1.3em;
    }

    #countdown {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .main img {
        width: 400px;
    }

    .main-wrapper {
        width: 450px;
    }

    .main-wrapper p {
        font-size: 1.2em;
    }

    #countdown {
        font-size: 2.5em;
    }
}

@media (max-width: 480px) {
    .main img {
        width: 300px;
    }

    .main-wrapper {
        width: 350px;
    }

    .main-wrapper p {
        font-size: 1em;
    }

    #countdown {
        font-size: 2em;
    }
}

.grey-out {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .grey-out:hover {
    filter: grayscale(0%);
  }
